<script setup lang="ts">
import {
  mdiTableFurniture,
  mdiCheckCircleOutline,
  mdiCloseCircleOutline,
} from "@mdi/js";
import { useTableStore } from "@/stores/table";

const tableStore = useTableStore();
const booking = () => {
  tableStore.booking = tableStore.booking === false ? true : false;
};
</script>

<template>
  <div class="btn-table">
    <div>
      <v-toolbar-title class="text-center text-sm-h5">
        เปิดโต๊ะ
      </v-toolbar-title>
    </div>
    <div class="card">
      <div class="card-1">
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          @click="booking"
          >โต๊ะ 1
        </v-btn>
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          @click="booking"
          color="white"
          >โต๊ะ 2</v-btn
        >
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          @click="booking"
          >โต๊ะ 3</v-btn
        >
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          @click="booking"
          >โต๊ะ 4</v-btn
        >
      </div>
      <div class="card-2">
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="#BA68C8"
          >โต๊ะ 5 (ไม่ว่าง)</v-btn
        >
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          @click="booking"
          >โต๊ะ 6</v-btn
        >
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          @click="booking"
          >โต๊ะ 7</v-btn
        >
        <v-btn
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="#BA68C8"
          >โต๊ะ 8 (ไม่ว่าง)</v-btn
        >
      </div>
    </div>
    <v-divider />
  </div>
  <div class="table" :hidden="tableStore.booking">
    <div>
      <v-toolbar-title class="text-center text-sm-h5">
        จองโต๊ะ
      </v-toolbar-title>
    </div>
    <div>
      <v-form>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                :counter="10"
                label="ชื่อผู้จอง"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                :counter="10"
                label="นามสกุล"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field label="เบอร์โทร" required></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
              <v-text-field label="เวลาจอง" required></v-text-field>
            </v-col>
            <!-- <v-col>
              <v-select
                label="เลือกโต๊ะ"
                data-vv-name="select"
                required
              ></v-select>
            </v-col> -->
          </v-row>
          <v-row>
            <v-col>
              <div class="btn">
                <v-btn
                  :prepend-icon="mdiCheckCircleOutline"
                  width="25%"
                  height="60px"
                  color="green"
                  >ยืนยัน</v-btn
                >
                <v-btn
                  :prepend-icon="mdiCloseCircleOutline"
                  width="25%"
                  height="60px"
                  color="red"
                  >ยกเลิก</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </div>
  </div>
</template>

<style scoped>
.btn-table {
  margin: 20px 0 20px 0;
}
.card {
  margin-bottom: 30px;
}
.card-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.card-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
</style>
