<script setup lang="ts">
import {
  mdiMinusCircle,
  mdiDeleteOutline,
  mdiCog,
  mdiTableFurniture,
} from "@mdi/js";
// import { useOrderStore } from "@/stores/table";
// import { ref } from "vue";

// const tableStore = useOrderStore();

// const btncolor = ref("white");

// function onClick() {
//   btncolor.value = btncolor.value === "white" ? "red" : "white";
// }
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
// import EmployDialog from "./EmployDialog.vue";

const orderStore = useOrderStore();
// let tableId = 0;

// function getTableId(id: number) {
//   tableId = id;
//   console.log(tableId);
// }
onMounted(async () => {
  await orderStore.getOrders();
});
</script>

<template>
  <div class="btn-table">
    <div>
      <v-toolbar-title> <h2 align="center">โต๊ะ </h2></v-toolbar-title>
    </div>
    <div class="card">
      <div class="card-1">
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(1)"
          >โต๊ะ 1
        </v-btn>
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(2)"
          >โต๊ะ 2</v-btn
        >
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(3)"
          >โต๊ะ 3</v-btn
        >
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(4)"
          >โต๊ะ 4</v-btn
        >
      </div>
      <div class="card-2">
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(5)"
          >โต๊ะ 5</v-btn
        >
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(6)"
          >โต๊ะ 6</v-btn
        >
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(7)"
          >โต๊ะ 7</v-btn
        >
        <v-btn
          class="glow-on-hover"
          type="button"
          :prepend-icon="mdiTableFurniture"
          width="25%"
          height="60px"
          color="white"
          to="/order"
          @click="orderStore.getTableId(8)"
          >โต๊ะ 8</v-btn
        >
      </div>
    </div>
    <v-divider />
  </div>
  <div class="table">
    <div>
      <v-toolbar-title class="text-center text-sm-h5">
        รายละเอียด
      </v-toolbar-title>
    </div>
    <div>
      <v-container>
        <!-- <v-row class="justify-lg-end">
          <h4 class="mx-2">จำนวน:ลูกค้า</h4>
          <h4>2 โต๊ะ</h4>
        </v-row> -->
        <v-row class="justify-center">
          <v-col cols="12">
            <v-table fixed-header height="500px">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>เลขโต๊ะ</th>
                  <th>อาหาร</th>
                  <th>จำนวน</th>
                  <th>แก้ไข / ลบ</th>
                </tr>
              </thead>
              <tbody v-for="n in orderStore.orderLists" :key="n.id">
                <tr v-for="item of n.orderItems" :key="item.id">
                  <td>{{ n.id }}</td>
                  <td>{{ n.table_number }}</td>
                  <td>{{ item.name }}</td>
                  <td width="200px">{{ item.qty }}</td>
                  <!-- <td>{{ n.table.status }}</td> -->

                  <td>
                    <v-btn
                      :icon="mdiCog"
                      class="btn"
                      variant="outlined"
                      color="primary"
                    ></v-btn>
                    <v-btn
                      :icon="mdiDeleteOutline"
                      class="btn"
                      variant="outlined"
                      color="red"
                      @click="orderStore.deleteOrder(item.id!)"
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<style scoped>
.btn {
  width: 50px;
  margin: 5px;
}
.btn-table {
  margin: 20px 0 20px 0;
}
.card {
  margin-bottom: 30px;
}
.card-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.card-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

/* .glow-on-hover::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
} */
</style>
