<script setup lang="ts">
import { mdiCashRegister } from "@mdi/js";
import { useBill } from "@/stores/bill";
import { ref, reactive } from "vue";
import { useOrderStore } from "@/stores/order";
import BillDialog from "./BillDialog.vue";

const bills = useBill();
const orderStore = useOrderStore();
const dialog = ref(false);
</script>

<template>
  <BillDialog></BillDialog>
  <div align="center">
    <h1>เช็คบิล</h1>
  </div>

  <v-container
    ><br />
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            value="1"
            @click="(orderStore.dialog = true), orderStore.getTableId(1)"
            >โต๊ะ 1</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(2)"
            >โต๊ะ 2</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(3)"
            >โต๊ะ 3</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(4)"
            >โต๊ะ 4</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(5)"
            >โต๊ะ 5</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(6)"
            >โต๊ะ 6</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(7)"
            >โต๊ะ 7</v-btn
          >
          <v-btn
            :prepend-icon="mdiCashRegister"
            width="100%"
            class="ma-2"
            @click="(orderStore.dialog = true), orderStore.getTableId(8)"
            >โต๊ะ 8</v-btn
          >
        </v-container>
      </v-col>

      <!-- <v-col cols="6">
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รายการอาหาร</th>
                <th>จำนวน</th>
                <th>ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of orderStore.orderLists" :key="item.id">
                <td>{{ item.table_number }}</td>
                <td>{{ item.table_number }}</td>
                <td>{{ item.table_number }}</td>
                <td>{{ item.table_number }}</td>
              </tr>
              <tr>
                <td>ราคารวม</td>
                <td></td>
                <td>3</td>
                <td>150</td>
              </tr>
            </tbody>
          </v-table>
          <br />
          <div align="right">
            <v-btn color="green" class="mx-2">ชำระเงิน</v-btn>
            <v-btn color="red" class="mx-2">ยกเลิก</v-btn>
          </div>
        </v-container>
      </v-col> -->
    </v-row>
  </v-container>
</template>

<style scoped></style>
