<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/Employee";
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
const dialog = ref(false);
// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await orderStore.saveEmployee();
//   }
// }
onMounted(async () => {
  await orderStore.getOrders();
});
</script>
<template>
  <v-dialog v-model="orderStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title class="text-h5"> เช็คบิล </v-card-title>
      <v-container>
        <v-table>
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>รายการอาหาร</th>
              <th>จำนวน</th>
              <th>ราคา</th>
            </tr>
          </thead>
          <tbody v-for="n in orderStore.orderLists" :key="n.id">
            <tr v-for="item of n.orderItems" :key="item.id">
              <template v-if="n.table_number === orderStore.tableIds">
                <td>{{ n.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ n.table_number }}</td>
              </template>
            </tr>
          </tbody>
          <tr>
            <td>ราคารวม</td>
            <td></td>
            <td>3</td>
            <td>150</td>
          </tr>
        </v-table>
        <br />
        <!-- <div align="right">
          <v-btn color="green" class="mx-2">ชำระเงิน</v-btn>
          <v-btn color="red" class="mx-2">ยกเลิก</v-btn>
        </div> -->
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green" class="mx-2" @click="orderStore.dialog = false"
          >ชำระเงิน</v-btn
        >
        <v-btn color="red" class="mx-2" @click="orderStore.dialog = false"
          >ยกเลิก</v-btn
        >
        <!-- <v-btn
          color="green-darken-1"
          variant="text"
          @click="orderStore.dialog = false"
        >
          Disagree
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="orderStore.dialog = false"
        >
          Agree
        </v-btn> -->
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
