<script lang="ts" setup>
import { useSalaryStore } from "@/stores/salary";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const salaryStore = useSalaryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await salaryStore.saveSalary();
  }
}
</script>
<template>
  <v-dialog v-model="salaryStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">การจ่ายเงินเดือน</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="วันที่ออกเงิน*"
                  required
                  v-model="salaryStore.editedSalary.date"
                  :rules="[(v) => !!v || 'กรุณาใส่วันที่ วว-ดด-ปปปป']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="รอบการจ่ายเงิน*"
                  required
                  v-model="salaryStore.editedSalary.payCircle"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่รอบการจ่ายเงิน ตั้งแต่วันที่-วันที่',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="ชั่วโมงการทำงาน*"
                  required
                  v-model.number="salaryStore.editedSalary.hours"
                  :rules="[(v) => !!v || 'กรุณาใส่ชั่วโมงการทำงาน']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="รวมรายได้ทั้งหมด(บาท)*"
                  required
                  v-model.number="salaryStore.editedSalary.total"
                  :rules="[(v) => !!v || 'กรุณาใส่รายได้รวม']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*จำเป็นต้องกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="salaryStore.dialog = false"
        >
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
