<script setup lang="ts">
import SalaryList from "./SalaryList.vue";
</script>

<template>
  <div>
    <div align="center"><h2>การจ่ายเงินเดือน</h2></div>
  </div>
  <v-container>
    <SalaryList />
  </v-container>
</template>
