<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useSalaryStore } from "@/stores/salary";
import { onMounted, ref } from "vue";
import SalaryDialog from "./SalaryDialog.vue";

const salaryStore = useSalaryStore();
const confirmDlg = ref();
onMounted(async () => {
  await salaryStore.getSalarys();
});

const deleteSalary = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "แจ้งเตือนการลบ",
      "คุณต้องการลบรายการนี้ใช่หรือไม่"
    );
    salaryStore.deleteSalary(id);
  } catch (e) {
    /* empty */
  }
};
</script>

<template>
  <SalaryDialog />
  <v-btn color="secondary" @click="salaryStore.dialog = true">เพิ่ม</v-btn>
  <v-layout>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-table>
            <thead>
              <tr>
                <th>รหัส</th>
                <th>วันที่ออกเงิน</th>
                <th>รอบการจ่ายเงิน</th>
                <th>ชั่วโมงการทำงาน</th>
                <th>รวมรายได้(บาท)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of salaryStore.salarys" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.payCircle }}</td>
                <td>{{ item.hours }}</td>
                <td>{{ item.total }}</td>
                <td>
                  <v-btn
                    class="ma-1"
                    color="primary"
                    @click="salaryStore.editSalary(item)"
                    >แก้ไข</v-btn
                  >
                  <v-btn
                    class="ma-1"
                    color="red"
                    @click="deleteSalary(item.id!)"
                    >ลบ</v-btn
                  >
                </td>
              </tr>
            </tbody>
          </v-table>
          <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
