<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/Employee";
import { onMounted, ref } from "vue";
import EmployDialog from "./EmployDialog.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
const confirmDlg = ref();

const employeeStore = useEmployeeStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});

const deleteEmployee = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "แจ้งเตือนการลบ",
      "คุณต้องการลบพนักงานใช่หรือไม่"
    );
    employeeStore.deleteEmployee(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <EmployDialog></EmployDialog>
  <v-btn class="mt-5" color="secondary" @click="employeeStore.dialog = true"
    >เพิ่มพนักงาน</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>รหัส</th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>Username</th>
        <th>Password</th>
        <th>อายุ</th>
        <th>เบอร์โทรศัพท์</th>
        <th>ตำแหน่ง</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of employeeStore.employees" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.position }}</td>
        <td>
          <v-btn
            class="mr-5"
            color="primary"
            @click="employeeStore.editEmployee(item)"
            >แก้ไข</v-btn
          >
          <v-btn color="red" @click="deleteEmployee(item.id!)">ลบ</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
