<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/Employee";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const employeeStore = useEmployeeStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployee();
  }
}
</script>
<template>
  <h2 align="center">พนักงาน</h2>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">พนักงาน</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field label="ชื่อ*" required v-model="employeeStore.editedEmployee.firstname"
                  :rules="[(v) => !!v || 'กรุณาใส่ชื่อ']"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label=" นามสกุล*" required v-model="employeeStore.editedEmployee.lastname"
                  :rules="[(v) => !!v || 'กรุณาใส่นามสกุล']"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field label="username*" required v-model="employeeStore.editedEmployee.username"
                  :rules="[(v) => !!v || 'กรุณาใส่ username',
                  (v: string | any[]) =>
                  v.length >= 4 ||
                  'Username ต้องมากกว่า 4 ตัวอักษร',
                ]"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label=" password*" required v-model="employeeStore.editedEmployee.password" 
                :rules="[(v) => !!v || 'กรุณาใส่ password',
                (v: string | any[]) =>
                  v.length >= 8 ||
                  'Password ต้องมากกว่า 8 ตัวอักษร',
                ]"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field label="อายุ (ปี)*" required v-model.number="employeeStore.editedEmployee.age" :rules="[
                  (v) => !!v || 'กรุณาใส่อายุ',
                  (v) => v >= 18 || 'อายุต้องมากกว่าหรือเท่ากับ 18 ปี',
                ]"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label="เบอร์โทรศัพท์*" required v-model="employeeStore.editedEmployee.phone" :rules="[
                  (v) => !!v || 'กรุณาใส่เบอร์โทรศัพท์',
                  (v) =>
                    v.length == 10 || 'กรุณาใส่เบอร์โทรศัพท์ให้ครบ 10 ตัว',
                ]"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="5">
                <v-text-field label="ตำแหน่ง*" required v-model.number="employeeStore.editedEmployee.position"
                  :rules="[(v) => !!v || 'กรุณาใส่ตำแหน่ง']"></v-text-field>
                <!-- <div>Selected: {{ selected }}</div> -->

                <!-- <v-select v-model="position"
                   label="กรุณาเลือกตำแหน่ง" :items="['ผู้จัดการ','พนักงานต้อนรับ', 'พนักงานเสิร์ฟ', 'เชฟ','แคชเชียร์','พนักงานทำความสะอาด']">

                  </v-select> -->
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*จำเป็นต้องกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="employeeStore.dialog = false">
          ปิด
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
