<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <!-- <v-app>
    <v-main class="bg-blue-grey-darken-2 pa-16 bg-">
      <v-card width="400px" class="mx-auto">
        <v-card-title
          primary-title
          class="text-center text-h6 font-weight-bold"
        >
          Login
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              label="Login Name"
              v-model="loginName"
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) =>
                  v.length >= 4 ||
                  'Name must be more than or equal 4 characters',
              ]"
              required
            ></v-text-field>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  v.length >= 8 ||
                  'Password must be more than or equal 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">Login</v-btn>
          <v-btn color="error" @click="reset">Clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app> -->
  <v-app>
    <v-main>
      <section>
        <!-- <div class="Leaves">
          <div class="set">
            <div><img src="../assets/login/leaf_01.png" /></div>
            <div><img src="../assets/login/leaf_02.png" /></div>
            <div><img src="../assets/login/leaf_03.png" /></div>
            <div><img src="../assets/login/leaf_04.png" /></div>
            <div><img src="../assets/login/leaf_01.png" /></div>
            <div><img src="../assets/login/leaf_02.png" /></div>
            <div><img src="../assets/login/leaf_03.png" /></div>
            <div><img src="../assets/login/leaf_04.png" /></div>
          </div>
        </div> -->
        <img src="../assets/bg3.jpg" class="bg" />
        <!-- <img src="../assets/login/girl.png" class="girl" /> -->
        <v-form ref="form" v-model="valid">
          <div class="Login">
            <h2>Sign In</h2>
            <div class="inputBox">
              <input
                type="text"
                placeholder="Username"
                v-model="loginName"
                :rules="[
                  (v: any) => !!v || 'Login Name is required',
                  (v: string | any[]) =>
                    v.length >= 4 ||
                    'Name must be more than or equal 4 characters',
                ]"
                required
              />
            </div>
            <div class="inputBox">
              <input
                type="password"
                placeholder="Password"
                v-model="password"
                :rules="[
            (v: any) => !!v || 'Password is required',
            (v: string | any[]) =>
            v.length >= 8 ||
            'Password must be more than or equal 8 characters',
          ]"
                required
              />
            </div>
            <div class="inputBox">
              <input type="submit" value="login" id="btn" @click="login" />
            </div>
            <div class="group">
              <a href="#">Forget Password</a>
              <a href="#" @click="reset">Clear</a>
            </div>
          </div>
        </v-form>
        <!-- <img src="../assets/login/trees.png" class="trees" /> -->
      </section>
    </v-main>
  </v-app>
</template>

<style>
@import url(https://fonts.googleapis.com/css2?familt=Poppins:wght@200;300;400;500;600;700;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section .trees {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
  pointer-events: none;
}
section .girl {
  position: absolute;
  scale: 0.65;
  pointer-events: none;
  animation: animateGirl 15s linear infinite;
}
@keyframes animateGirl {
  0% {
    transform: translateX(calc(100% + 100vw));
  }
  50% {
    transform: translateX(calc(-100% - 100vw));
  }
  50.01% {
    transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(100% + 100vw)) rotateY(180deg);
  }
}
.Login {
  position: relative;
  padding: 60px;
  background: #dae370;
  backdrop-filter: blur(15px);
  border: 1px solid #fff;
  border-bottom: 1px solid #dae370;
  border-right: 1px solid #dae370;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.Login h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #555b95;
  margin-bottom: 10px;
}
.Login .inputBox {
  position: relative;
}
.Login .inputBox input {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: #08b6ce;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
}
.Login .inputBox input ::placeholder {
  color: white;
}
.Login .inputBox #btn {
  position: relative;
  border: none;
  outline: none;
  background: #08b6ce;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.5s;
}
.Login .inputBox #btn:hover {
  background: #555b95;
}
.Login .group {
  display: flex;
  justify-content: space-between;
}
.Login .group a {
  font-size: 1.25em;
  color: #555b95;
  font-weight: 500;
  text-decoration: none;
}
.Login .group a:nth-child(2) {
  text-decoration: underline;
}
.Leaves {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}
.Leaves .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.Leaves .set div {
  position: absolute;
  display: block;
}
.Leaves .set div:nth-child(1) {
  left: 20%;
  animation: animate 20s linear infinite;
}
.Leaves .set div:nth-child(2) {
  left: 50%;
  animation: animate 14s linear infinite;
}
.Leaves .set div:nth-child(3) {
  left: 70%;
  animation: animate 12s linear infinite;
}
.Leaves .set div:nth-child(4) {
  left: 5%;
  animation: animate 15s linear infinite;
}
.Leaves .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
}
.Leaves .set div:nth-child(6) {
  left: 90%;
  animation: animate 12s linear infinite;
}
.Leaves .set div:nth-child(7) {
  left: 15%;
  animation: animate14s linear infinite;
}
.Leaves .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(45deg);
  }
  100% {
    top: 110%;
    transform: translateX(20px) rotate(225deg);
  }
}
</style>
