<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiAccountGroupOutline,
  mdiTableFurniture,
  mdiCash,
  mdiBasket,
  mdiSilverware,
  mdiHandExtended,
  mdiBasketPlus,
  mdiLogout,
  mdiStocking,
  mdiBox,
  mdiGhost,
  mdiArchive,
  mdiAccountCash,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("dark");

function onClick() {
  theme.value = theme.value === "dark" ? "light" : "dark";
}
const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-list-item
        prepend-avatar="https://seeklogo.com/images/M/monster-energy-drink-logo-B7842F8923-seeklogo.com.png"
      ></v-list-item>
      <h1 class="glitch">
        <span aria-hidden="true">Monster Dev</span>
        Monster Dev
        <span aria-hidden="true">Monster Dev</span>
      </h1>
      <v-btn class="ghost" :icon="mdiGhost"></v-btn>
      <v-spacer></v-spacer>
      <v-list>
        <v-btn
          :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
          @click="onClick"
          color="orange"
          >Toggle Theme</v-btn
        >
        <v-btn :prepend-icon="mdiLogout" @click="logout" color="red"
          >Logout</v-btn
        >
      </v-list>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://i.pinimg.com/474x/f4/f1/06/f4f106ada1eaf79cbdbf439baf5e2bb5--children-movies-monsters-university.jpg"
          :title="loginStore.loginName"
          subtitle="MonsterDev@gmail.com"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <div v-if="loginStore.loginName === 'admin'">
          <!-- <v-list-item
            :prepend-icon="mdiAccountGroupOutline"
            color="green"
            title="ผู้ใช้งาน"
            value="users"
            to="/user"
          ></v-list-item> -->
          <v-list-item
            :prepend-icon="mdiAccountGroupOutline"
            color="green"
            title="พนักงาน"
            value="employee"
            to="/employee"
          ></v-list-item>
        </div>
        <div v-if="loginStore.loginName === 'admin'">
          <v-list-item
            :prepend-icon="mdiTableFurniture"
            color="blue"
            title="โต๊ะ"
            value="tableEmployee"
            to="/tableEmployee"
          ></v-list-item>
        </div>
        <div v-else>
          <v-list-item
            :prepend-icon="mdiTableFurniture"
            color="blue"
            title="โต๊ะ"
            value="tableCustomer"
            to="/tableCustomer"
          ></v-list-item>
        </div>
        <!-- <v-list-item
          :prepend-icon="mdiTableChair" color="pink"
          title="Table Customer"
          value="tableCustomer"
          to="/tableCustomer"
        ></v-list-item> -->
        <v-list-item
          :prepend-icon="mdiBasketPlus"
          color="green"
          title="สั่งอาหาร"
          value="order"
          to="/order"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiSilverware"
          color="blue"
          title="ทำอาหาร"
          value="cooking"
          to="/cooking"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiHandExtended"
          color="green"
          title="เสิร์ฟ"
          value="serve"
          to="/serve"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCash"
          color="blue"
          title="เช็คบิล"
          value="bill"
          to="/bill"
        ></v-list-item>

        <div v-if="loginStore.loginName === 'admin'">
          <!-- <v-list-item
            :prepend-icon="mdiArchive"
            color="green"
            title="สต๊อค"
            value="stock"
            to="/stock"
          ></v-list-item> -->
          <v-list-item
            :prepend-icon="mdiAccountCash"
            color="green"
            title="การจ่ายเงินเดือน"
            value="salary"
            to="/salary"
          ></v-list-item>
        </div>
        <div v-else></div>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>
.ghost {
  position: absolute;
  left: 100%;
  mix-blend-mode: exclusion;
  animation: ghost 4.5s ease-in-out infinite;
  transform: rotate(-90deg);
}
@keyframes ghost {
  to {
    left: -280px;
  }
}
.img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.glitch {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.5em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.5em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.25em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.25em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
</style>
