<script setup lang="ts">
import { ref } from "vue";

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const agree = ref("Agree");
const cancel = ref("Cancel");

let onAgree: (value: unknown) => void;
let onCancel: (value: unknown) => void;

const openDialog = (
  titleStr: string,
  descStr: string,
  agreeStr: string = "ตกลง",
  cancelStr: string = "ยกเลิก"
) => {
  title.value = titleStr;
  desc.value = descStr;
  agree.value = agreeStr;
  cancel.value = cancelStr;

  dialog.value = true;
  return new Promise((resolve, reject) => {
    onAgree = resolve;
    onCancel = reject;
  });
};
defineExpose({ openDialog });
function cancelFunc() {
  dialog.value = false;
  onCancel("ยกเลิก");
}
function agreeFunc() {
  dialog.value = false;
  onAgree("ตกลง");
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text> {{ desc }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green-darken-1" variant="text" @click="cancelFunc">
            {{ cancel }}
          </v-btn>
          <v-btn color="green-darken-1" variant="text" @click="agreeFunc">
            {{ agree }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
