<script setup lang="ts">
import { ref } from "vue";
import CookingList from "./CookingList.vue";
import { mdiChevronDown, mdiChevronUp, mdiCheckboxMarked } from "@mdi/js";
const show = ref(false);
</script>

<template>
  <div align="center"><h2>ทำอาหาร</h2></div>
  <CookingList></CookingList>
</template>
