<script setup lang="ts">
import { ref } from "vue";
import { useServeStore } from "@/stores/serve";
import { mdiArrowRight } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import type orderItem from "@/types/OrderItem";
import ConfirmDialogT from "@/components/ConfirmDialog.vue";
const orderStore = useOrderStore();
const confirmDlg = ref();
const updateStsMenuQ = async (menuQ: orderItem, status: string) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการยืนยันการทำรายการนี้ว่า ${status} หรือไม่`
    );
   
  } catch (e) {
    console.log(e);
  }
};
</script>

<template>
  <div>
    <v-row>
      <v-col>
        <v-container fluid>
          <v-row>
            <v-col cols="5" class="table_title">
              <v-card  dark width="1ุ00">
                <v-card-text>ออเดอร์พร้อมเสิร์ฟ</v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-container  style="height: 500px; ">
              <v-card>
                <v-table fixed-header height="500px">
                  <thead>
                    <tr>
                      <th>คิว</th>
                      <th>เมนู</th>
                      <th>โต๊ะ</th>
                      <th>จำนวน</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>{{}}</td>
                      <td>{{  }}</td>
                      <td>{{ }}</td>
                      <td>{{ }}</td>
                      <td>
                        <v-btn color="green">เสริฟ</v-btn>
                      </td>
                      <td>
                         <v-btn color="red">ยกเลิก</v-btn>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-container>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-col cols="5" class="table_title">
          <v-card  dark width="140">
            <v-card-text>กำลังทำ</v-card-text>
          </v-card>
        </v-col>

        <v-col>
          <v-container style="height: 500px;">
          <v-card>
            <v-table fixed-header height="500px">
              <thead>
                <tr>
                  <th>คิว</th>
                  <th>เมนู</th>
                  <th>โต๊ะ</th>
                  <th>จำนวน</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody v-for="n in orderStore.orderLists" :key="n.id">
                <tr v-for="item of n.orderItems" :key="item.id">
                  <td>{{ n.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ n.table_number }}</td>
                  <td>{{ item.qty }}</td>
                  <td><v-btn block color="green" size="40px" 
                    @click="updateStsMenuQ(item, 'รอเสิร์ฟ')">ทำ</v-btn></td>
                  <td><v-btn block color="red" size="40px">ยกเลิก</v-btn></td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </v-container>
        </v-col>
      </v-col>
      
    </v-row>
  </div>
  <ConfirmDialogT ref="confirmDlg"></ConfirmDialogT>
</template>

<style scoped>
.table_title {
  /* text-align: center; */
  display: table-cell;
  vertical-align: middle;
}
</style>
