<script lang="ts" setup>
import { ref, reactive, onMounted, computed } from "vue";
import { mdiMagnify, mdiCartOutline, mdiArrowLeftBold } from "@mdi/js";
import { useFoodStore } from "@/stores/foods";
import type Food from "@/types/Food";
import order from "@/services/order";
import { useOrderStore } from "@/stores/order";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
const foodStore = useFoodStore();
const orderStore = useOrderStore();
const selectMainTab = ref("one");
const confirmDlg = ref();

const tab = ref(null);
function typeTab(select: string) {
  selectMainTab.value = select;
}

const deleteOne = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "แจ้งเตือนการลบ",
      "คุณต้องการลบรายการนี้ใช่หรือไม่"
    );
    orderStore.deleteFood(id);
  } catch (e) {
    /* empty */
  }
};

const deleteAll = async () => {
  try {
    await confirmDlg.value.openDialog(
      "แจ้งเตือนการลบ",
      "คุณต้องการลบรายการทั้งหมดใช่หรือไม่"
    );
    orderStore.clearOrder();
  } catch (e) {
    /* empty */
  }
};

const confFirm = async () => {
  try {
    await confirmDlg.value.openDialog(
      "แจ้งเตือนการยืนยัน",
      "คุณยืนยันที่จะสั่งอาหารใช่หรือไม่"
    );
    orderStore.openOrder();
  } catch (e) {
    /* empty */
  }
};

onMounted(async () => {
  await foodStore.getFoods();
});
</script>
<template>
  <v-container>
    <v-container>
      <v-tabs v-model="tab" bg-color="green" height="60">
        <v-btn
          to="/tableEmployee"
          class="ma-3"
          :prepend-icon="mdiArrowLeftBold"
          size="40"
        ></v-btn>
        <v-tab
          :class="selectMainTab === 'one'"
          value="one"
          @click="typeTab('one')"
          class="mx-3"
        >
          <h2>ทั้งหมด</h2>
        </v-tab>

        <v-tab
          :class="selectMainTab === 'two'"
          @click="typeTab('two')"
          value="two"
          class="mx-3"
        >
          <h2>อาหาร</h2>
        </v-tab>

        <v-tab
          :class="selectMainTab === 'three'"
          @click="typeTab('three')"
          value="three"
          class="mx-3"
        >
          <h2>ของหวาน</h2>
        </v-tab>

        <v-tab
          :class="selectMainTab === 'four'"
          @click="typeTab('four')"
          value="four"
          class="mx-3"
        >
          <h2>เครื่องดื่ม</h2>
        </v-tab>
        <v-text-field
          label="Search"
          :prepend-inner-icon="mdiMagnify"
          dense
          flat
        ></v-text-field>
      </v-tabs>
    </v-container>

    <v-row>
      <v-col cols="6">
        <v-container style="height: 500px; overflow: auto">
          <v-window v-model="tab">
            <v-window-item value="one">
              <v-container>
                <v-row>
                  <v-col
                    v-for="item of foodStore.foods"
                    :key="item.id"
                    cols="6"
                  >
                    <v-card width="100%" variant="outlined">
                      <v-container>
                        <v-row>
                          <v-col align="center" justify="center">
                            <v-col>
                              <v-img
                                cover
                                style="width: 15vh; height: 15vh"
                                :src="`http://localhost:3000/foods/image/${item.img}`"
                              ></v-img>
                            </v-col>
                            <h6>ชื่อ : {{ item.name }}</h6>
                            <h6>ประเภท : {{ item.type }}</h6>
                            <h6>ราคา : {{ item.price }} บาท</h6>
                            <v-btn
                              color="green"
                              :height="40"
                              :width="70"
                              class="ma-2"
                              :prepend-icon="mdiCartOutline"
                              @click="orderStore.addFood(item)"
                              >เพิ่ม</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>

            <v-window-item value="two">
              <v-container>
                <v-row v-for="item of foodStore.foods" :key="item.id">
                  <v-col v-if="item.type === 'อาหาร'">
                    <v-card width="100%" variant="outlined">
                      <v-container>
                        <v-row>
                          <v-col align="center" justify="center">
                            <v-col>
                              <v-img
                                cover
                                style="width: 15vh; height: 15vh"
                                :src="`http://localhost:3000/foods/image/${item.img}`"
                              ></v-img>
                            </v-col>
                            <h6>ชื่อ : {{ item.name }}</h6>
                            <h6>ประเภท : {{ item.type }}</h6>
                            <h6>ราคา : {{ item.price }} บาท</h6>
                            <v-btn
                              color="green"
                              :height="40"
                              :width="70"
                              class="ma-2"
                              :prepend-icon="mdiCartOutline"
                              @click="orderStore.addFood(item)"
                              >เพิ่ม</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>

            <v-window-item value="three">
              <v-container>
                <v-row v-for="item of foodStore.foods" :key="item.id">
                  <v-col v-if="item.type === 'ของหวาน'">
                    <v-card width="100%" variant="outlined">
                      <v-container>
                        <v-row>
                          <v-col align="center" justify="center">
                            <v-col>
                              <v-img
                                cover
                                style="width: 15vh; height: 15vh"
                                :src="`http://localhost:3000/foods/image/${item.img}`"
                              ></v-img>
                            </v-col>
                            <h6>ชื่อ : {{ item.name }}</h6>
                            <h6>ประเภท : {{ item.type }}</h6>
                            <h6>ราคา : {{ item.price }} บาท</h6>
                            <v-btn
                              color="green"
                              :height="40"
                              :width="70"
                              class="ma-2"
                              :prepend-icon="mdiCartOutline"
                              @click="orderStore.addFood(item)"
                              >เพิ่ม</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
            <v-window-item value="four">
              <v-container>
                <v-row
                  v-for="(item, index) of foodStore.foods"
                  :key="index"
                  cols="6"
                >
                  <v-col v-if="item.type === 'เครื่องดื่ม'">
                    <v-card width="100%" variant="outlined">
                      <v-container>
                        <v-row>
                          <v-col align="center" justify="center">
                            <v-col>
                              <v-img
                                cover
                                style="width: 15vh; height: 15vh"
                                :src="`http://localhost:3000/foods/image/${item.img}`"
                              ></v-img>
                            </v-col>
                            <h6>ชื่อ : {{ item.name }}</h6>
                            <h6>ประเภท : {{ item.type }}</h6>
                            <h6>ราคา : {{ item.price }} บาท</h6>
                            <v-btn
                              color="green"
                              :height="40"
                              :width="70"
                              class="ma-2"
                              :prepend-icon="mdiCartOutline"
                              @click="orderStore.addFood(item)"
                              >เพิ่ม</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
          </v-window>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-table style="height: 500px; overflow: auto">
          <thead>
            <tr>
              <th>ชื่อ</th>
              <th>ราคา</th>
              <th>จำนวน</th>
              <th>ราคา(รวม)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderStore.orderList" :key="index">
              <td>{{ item.food.name }}</td>
              <td>{{ item.food.price }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.sum }} บาท</td>
              <td>
                <v-btn color="error" @click="deleteOne(index)">x</v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <div class="text-h6">
          ราคารวม : {{ orderStore.sumPrice }} บาท จำนวนรวม :
          {{ orderStore.sumCount }} รายการ
        </div>
      </v-col>
    </v-row>
    <v-row class="justify-lg-end">
      <v-btn color="green" class="mx-2" @click="confFirm()">สั่งซื้อ</v-btn>
      <v-btn color="error" @click="deleteAll">ยกเลิก</v-btn>
    </v-row>
  </v-container>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
