<script setup lang="ts">
import { mdiCheckboxMarked } from "@mdi/js";
import ServeList from "./ServeList.vue";
</script>

<template>
  <div>
    <div align="center"><h2>เสิร์ฟ</h2></div>
  </div>

  <v-container>
    <v-row>
      <ServeList></ServeList>
    </v-row>
  </v-container>
</template>
