<script setup lang="ts">
import { mdiCheckboxBlankOutline, mdiCheckboxMarked } from "@mdi/js";
import { useServeStore } from "@/stores/serve";
import type Serve from "@/types/Serve";
import { ref } from "vue";
import ServeDialog from "./ServeDialog.vue";
const serveStore = useServeStore();

// const changeStatus = function () {
//     Serve.status = "เสิร์ฟ";

// };
const editServe = (serve: Serve) => {
  serveStore.editServe(serve);
  serveStore.dialog = true;
};
</script>

<template>
  <ServeDialog></ServeDialog>
  <v-container>
    <v-row class="justify-center">
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>คิว</th>
              <th>โต๊ะ</th>
              <th>เมนู</th>
              <th>จำนวน</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody v-for="item of serveStore.serves" :key="item.id">
            <tr v-if="item.table == 1">
              <td>{{ item.queue }}</td>
              <td>{{ item.table }}</td>
              <td>{{ item.menu }}</td>
              <td>{{ item.qty }}</td>
              <td>
                {{ item.status }}
                <v-btn @click="editServe(item)" class="ma-1 btnServe"
                  >เสิร์ฟ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
